$color-primary: #359e97;
$color-primary-light1: #6abcb4;
$color-primary-light2:  #73c2ba;
$color-primary-light3: #afd9d4;
$color-secondary: #e74d3d;
$color-secondary-dark: #c1392a;
$color-tertiary: #f25042;

$color-white: #feffff;
$color-black: #1a1919;
$color-grey: #bcc2c7;
$color-grey-light: #ecf1f0;
// Default font size
$default-font-size: 16px;